.grid {
  height: 85vh;
  border-bottom: 3px solid rgba(0,0,0,.25);
  overflow-y: scroll;
  padding: 30px 0 30px 270px !important;
  width: 100% !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;

  & > .ui.header {
    margin-top: 0;
  }

  &.board-create {
    .board-name {
      margin-bottom: 10px;
    }

    .checkbox {
      display: block;
      margin-bottom: 10px;
    }

    .dropdown {
      width: 200px;
      margin-bottom: 10px;
    }
  }

  &.team-change {
    .button-save {
      margin-left: 1rem !important;
      margin-top: 0 !important;
    }
  }

  .list {
    padding-bottom: 30px !important;
  }

   &-change-team {
      width: 600px !important;

     .form {
       width: 400px !important;
     }

     .input {
       width: 400px;
       display: block;
       margin-bottom: 10px;
       position: relative;

       .label {
         width: 200px;
         background: none;
         padding: 0;
         margin-right: 40px;
       }

       input {
         width: 160px !important;
         padding: 5px !important;
         height: 30px !important;
       }

       .input-bew-user-test {
         color:darkcyan;
       }

       i.icon {
         font-size: 16px;
         position: absolute;
         top: 5px;
         right: -32px;

          &.warning:before {
            color: red;
          }
          &.check:before {
            color: green;
          }
          &:hover {
            cursor:pointer;
          }
       }
     }

     .button-save {
       margin-top: 30px !important;
       background: navajowhite !important;
     }

     .members {
       border: 0 !important;
       box-shadow: none !important;
       width: 400px;
       padding: 0 !important;


       .item {
         padding: 10px !important;
         border-bottom: 1px solid rgba(34,36,38,.15);
         border-top: 1px solid rgba(34,36,38,.15);

         .content {
           position: relative;
           left: 10px;
           top: -2px;
           padding: 0 !important;
           display: inline-flex;
           font-size: 14px !important;
         }
       }
     }
   }

  .message {
    width: 400px !important;
    margin-left: 10px;
  }

  &.one-board {
    .icon.content-button {
      right: 20px;
    }

    .ui.styled.accordion {
      width: 100%;

      .content {
        padding-bottom: 88px !important;
      }
    }

    .one-board__list {
      padding-top: 20px;
      max-height: 320px;
      overflow-y: scroll;
    }

    .one-board__add-list {
      margin-top: 20px;

      .input.icon {
        position: relative;
        width: auto;
      }

      .icon.save {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 1;
        pointer-events: auto !important;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .button-add {
      min-height: 35px;
      white-space: nowrap;
      margin-left: 15px !important;
      width: 200px !important;
    }
  }

  .list-tasks {
    display: flex;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden !important;
  }
}