.list {
  width: 100% !important;

  .item {
    position: relative;
    width: 400px !important;
    //border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
    padding-bottom: 10px !important;
  }
  .content {
    padding: 0 14px;

    .header {
      font-size: 19px !important;
      font-weight: 500;
    }
  }

  .button {
    &-add {
      margin-top: 20px;
    }
  }
  .content-button {
    position: absolute;
    right: 0;
    padding: 0;
    top: 5px;
  }

  &-teams {}

  &-board {

  }
}