.modal {
 .content {
   display: flex;
   flex-direction: column;

   .input {
     margin-bottom: 10px;
     width: 400px;

     .label {
       padding-top: 8px !important;
       width: 90px;
     }
   }
 }
}